/* Primitivos */
:root {
  /* Value */
  /* color */
  --colors-blanco: #ffffff;
  --colors-negro: #000000;
  --colors-danger-100: #fee2e2;
  --colors-danger-200: #fecaca;
  --colors-danger-300: #fca5a5;
  --colors-danger-400: #f87171;
  --colors-danger-50: #fef2f2;
  --colors-danger-500: #ef4444;
  --colors-danger-600: #dc2626;
  --colors-danger-700: #b91c1c;
  --colors-danger-800: #991b1b;
  --colors-danger-900: #7f1d1d;
  --colors-danger-950: #450a0a;
  --colors-excel-active: #1a4d32;
  --colors-excel-default: #1d6f42;
  --colors-excel-hover: #1d5e3b;
  --colors-gray-100: #f1f5f9;
  --colors-gray-200: #e2e8f0;
  --colors-gray-300: #cbd5e1;
  --colors-gray-400: #94a3b8;
  --colors-gray-50: #f8fafc;
  --colors-gray-500: #64748b;
  --colors-gray-600: #475569;
  --colors-gray-700: #334155;
  --colors-gray-800: #1e293b;
  --colors-gray-900: #0f172a;
  --colors-gray-950: #020617;
  --colors-info-100: #dbe8fe;
  --colors-info-200: #bfd7fe;
  --colors-info-300: #93bbfd;
  --colors-info-400: #609afa;
  --colors-info-50: #eff5ff;
  --colors-info-500: #3b82f6;
  --colors-info-600: #2570eb;
  --colors-info-700: #1d64d8;
  --colors-info-800: #1e55af;
  --colors-info-900: #1e478a;
  --colors-info-950: #172e54;
  --colors-primary-100: #e6eff8;
  --colors-primary-200: #c6ddf1;
  --colors-primary-300: #94c1e5;
  --colors-primary-400: #5ba0d5;
  --colors-primary-50: #f3f7fc;
  --colors-primary-500: #3f8dc9;
  --colors-primary-600: #2668a3;
  --colors-primary-700: #205584;
  --colors-primary-800: #1e486e;
  --colors-primary-900: #1e3d5c;
  --colors-primary-950: #14283d;
  --colors-secondary-100: #f3f4f4;
  --colors-secondary-200: #e5e8e9;
  --colors-secondary-300: #d0d5d7;
  --colors-secondary-400: #b4bbbe;
  --colors-secondary-50: #f9fafa;
  --colors-secondary-500: #939ea2;
  --colors-secondary-600: #808a8e;
  --colors-secondary-700: #5f686c;
  --colors-secondary-800: #4f5659;
  --colors-secondary-900: #44484b;
  --colors-secondary-950: #262a2c;
  --colors-success-100: #dcfce8;
  --colors-success-200: #bbf7d1;
  --colors-success-300: #86efad;
  --colors-success-400: #4ade81;
  --colors-success-50: #f0fdf5;
  --colors-success-500: #22c55e;
  --colors-success-600: #16a34a;
  --colors-success-700: #15803c;
  --colors-success-800: #166533;
  --colors-success-900: #14532b;
  --colors-success-950: #052e14;
  --colors-warning-100: #fef0c3;
  --colors-warning-200: #fee28a;
  --colors-warning-300: #fdd147;
  --colors-warning-400: #fac215;
  --colors-warning-50: #fef9e8;
  --colors-warning-500: #eab308;
  --colors-warning-600: #ca9a04;
  --colors-warning-700: #a17c07;
  --colors-warning-800: #85680e;
  --colors-warning-900: #715a12;
  --colors-warning-950: #423306;
  /* number */
  --radius-none: 0.125rem;
  --radius-sm: 0.5rem;
  --radius-md: 0.75rem;
  --radius-lg: 1.125rem;
  --radius-xl: 1.5rem;
  --radius-full: 62.4375rem;
  --spacing-none: 0rem;
  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-12: 0.75rem;
  --spacing-18: 1.125rem;
  --spacing-24: 1.5rem;
  --spacing-36: 2.25rem;
  --spacing-48: 3rem;
  --spacing-60: 3.75rem;
  --spacing-72: 4.5rem;
  --spacing-84: 5.25rem;
  --spacing-96: 6rem;
  --typo-height-xs: 1rem;
  --typo-height-base: 1.25rem;
  --typo-height-sm: 1.25rem;
  --typo-height-lg: 1.375rem;
  --typo-height-h3: 1.5rem;
  --typo-height-h2: 1.875rem;
  --typo-height-h1: 2.25rem;
  --typo-letter-spacing-base: 0rem;
  --typo-letter-spacing-h1: 0rem;
  --typo-letter-spacing-h2: 0rem;
  --typo-letter-spacing-h3: 0rem;
  --typo-letter-spacing-lg: 0rem;
  --typo-letter-spacing-sm: 0rem;
  --typo-letter-spacing-xs: 0rem;
  --typo-size-xs: 0.75rem;
  --typo-size-sm: 0.875rem;
  --typo-size-base: 1rem;
  --typo-size-lg: 1.125rem;
  --typo-size-h3: 1.25rem;
  --typo-size-h2: 1.5rem;
  --typo-size-h1: 1.75rem;
  /* string */
  --typo-font-family: Figtree;
  --typo-weight-bold: semibold;
  --typo-weight-medium: medium;
  --typo-weight-regular: regular;
}