/* primitivos */
:root {
    /* Value */
    /* color */
    --colors-blanco: #ffffff;
    --colors-negro: #000000;
    --colors-danger-100: #fee2e2;
    --colors-danger-200: #fecaca;
    --colors-danger-300: #fca5a5;
    --colors-danger-400: #f87171;
    --colors-danger-50: #fef2f2;
    --colors-danger-500: #ef4444;
    --colors-danger-600: #dc2626;
    --colors-danger-700: #b91c1c;
    --colors-danger-800: #991b1b;
    --colors-danger-900: #7f1d1d;
    --colors-danger-950: #450a0a;
    --colors-excel-active: #1a4d32;
    --colors-excel-default: #1d6f42;
    --colors-excel-hover: #1d5e3b;
    --colors-gray-100: #f1f5f9;
    --colors-gray-200: #e2e8f0;
    --colors-gray-300: #cbd5e1;
    --colors-gray-400: #94a3b8;
    --colors-gray-50: #f8fafc;
    --colors-gray-500: #64748b;
    --colors-gray-600: #475569;
    --colors-gray-700: #334155;
    --colors-gray-800: #1e293b;
    --colors-gray-900: #0f172a;
    --colors-gray-950: #020617;
    --colors-info-100: #dbe8fe;
    --colors-info-200: #bfd7fe;
    --colors-info-300: #93bbfd;
    --colors-info-400: #609afa;
    --colors-info-50: #eff5ff;
    --colors-info-500: #3b82f6;
    --colors-info-600: #2570eb;
    --colors-info-700: #1d64d8;
    --colors-info-800: #1e55af;
    --colors-info-900: #1e478a;
    --colors-info-950: #172e54;
    --colors-primary-100: #e6eff8;
    --colors-primary-200: #c6ddf1;
    --colors-primary-300: #94c1e5;
    --colors-primary-400: #5ba0d5;
    --colors-primary-50: #f3f7fc;
    --colors-primary-500: #3f8dc9;
    --colors-primary-600: #2668a3;
    --colors-primary-700: #205584;
    --colors-primary-800: #1e486e;
    --colors-primary-900: #1e3d5c;
    --colors-primary-950: #14283d;
    --colors-secondary-100: #f3f4f4;
    --colors-secondary-200: #e5e8e9;
    --colors-secondary-300: #d0d5d7;
    --colors-secondary-400: #b4bbbe;
    --colors-secondary-50: #f9fafa;
    --colors-secondary-500: #939ea2;
    --colors-secondary-600: #808a8e;
    --colors-secondary-700: #5f686c;
    --colors-secondary-800: #4f5659;
    --colors-secondary-900: #44484b;
    --colors-secondary-950: #262a2c;
    --colors-success-100: #dcfce8;
    --colors-success-200: #bbf7d1;
    --colors-success-300: #86efad;
    --colors-success-400: #4ade81;
    --colors-success-50: #f0fdf5;
    --colors-success-500: #22c55e;
    --colors-success-600: #16a34a;
    --colors-success-700: #15803c;
    --colors-success-800: #166533;
    --colors-success-900: #14532b;
    --colors-success-950: #052e14;
    --colors-warning-100: #fef0c3;
    --colors-warning-200: #fee28a;
    --colors-warning-300: #fdd147;
    --colors-warning-400: #fac215;
    --colors-warning-50: #fef9e8;
    --colors-warning-500: #eab308;
    --colors-warning-600: #ca9a04;
    --colors-warning-700: #a17c07;
    --colors-warning-800: #85680e;
    --colors-warning-900: #715a12;
    --colors-warning-950: #423306;
    
    
    --colores-amarillo-100: #ffffd5;
    --colores-amarillo-200: #fdfdab;
    --colores-amarillo-25: #fffff5;
    --colores-amarillo-300: #fefe73;
    --colores-amarillo-400: #fdfd3a;
    --colores-amarillo-50: #ffffed;
    --colores-amarillo-500: #f3f31c;
    --colores-amarillo-600: #e2e214;
    --colores-amarillo-700: #c2c20a;
    --colores-amarillo-800: #919108;
    --colores-amarillo-900: #666600;
    --colores-azul-100: #d1e9ff;
    --colores-azul-200: #b2ddff;
    --colores-azul-25: #f5faff;
    --colores-azul-300: #84caff;
    --colores-azul-400: #53b1fd;
    --colores-azul-50: #eff8ff;
    --colores-azul-500: #2e90fa;
    --colores-azul-600: #1570ef;
    --colores-azul-700: #175cd3;
    --colores-azul-800: #1849a9;
    --colores-azul-900: #194185;
    --colores-azul-claro-100: #e0f2fe;
    --colores-azul-claro-200: #b9e6fe;
    --colores-azul-claro-25: #f5fbff;
    --colores-azul-claro-300: #7cd4fd;
    --colores-azul-claro-400: #36bffa;
    --colores-azul-claro-50: #f0f9ff;
    --colores-azul-claro-500: #0ba5ec;
    --colores-azul-claro-600: #0086c9;
    --colores-azul-claro-700: #026aa2;
    --colores-azul-claro-800: #065986;
    --colores-azul-claro-900: #0b4a6f;
    --colores-azul-oscuro-100: #eaecf5;
    --colores-azul-oscuro-200: #d5d9eb;
    --colores-azul-oscuro-25: #fcfcfd;
    --colores-azul-oscuro-300: #afb5d9;
    --colores-azul-oscuro-400: #717bbc;
    --colores-azul-oscuro-50: #f8f9fc;
    --colores-azul-oscuro-500: #4e5ba6;
    --colores-azul-oscuro-600: #3e4784;
    --colores-azul-oscuro-700: #363f72;
    --colores-azul-oscuro-800: #293056;
    --colores-azul-oscuro-900: #101323;
    --colores-indigo-100: #e0eaff;
    --colores-indigo-200: #c7d7fe;
    --colores-indigo-25: #f5f8ff;
    --colores-indigo-300: #a4bcfd;
    --colores-indigo-400: #8098f9;
    --colores-indigo-50: #eef4ff;
    --colores-indigo-500: #6172f3;
    --colores-indigo-600: #444ce7;
    --colores-indigo-700: #3538cd;
    --colores-indigo-800: #2d31a6;
    --colores-indigo-900: #2d3282;
    --colores-morado-100: #ebe9fe;
    --colores-morado-200: #d9d6fe;
    --colores-morado-25: #fafaff;
    --colores-morado-300: #bdb4fe;
    --colores-morado-400: #9b8afb;
    --colores-morado-50: #f4f3ff;
    --colores-morado-500: #7a5af8;
    --colores-morado-600: #6938ef;
    --colores-morado-700: #5925dc;
    --colores-morado-800: #4a1fb8;
    --colores-morado-900: #3e1c96;
    --colores-naranjo-100: #ffead5;
    --colores-naranjo-200: #fddcab;
    --colores-naranjo-25: #fffaf5;
    --colores-naranjo-300: #feb273;
    --colores-naranjo-400: #fd853a;
    --colores-naranjo-50: #fff6ed;
    --colores-naranjo-500: #fb6514;
    --colores-naranjo-600: #ec4a0a;
    --colores-naranjo-700: #c4320a;
    --colores-naranjo-800: #9c2a10;
    --colores-naranjo-900: #7e2410;
    --colores-rosado-100: #fce7f6;
    --colores-rosado-200: #fcceee;
    --colores-rosado-25: #fef6fb;
    --colores-rosado-300: #faa7e0;
    --colores-rosado-400: #f670c7;
    --colores-rosado-50: #fdf2fa;
    --colores-rosado-500: #ee46bc;
    --colores-rosado-600: #dd2590;
    --colores-rosado-700: #c11574;
    --colores-rosado-800: #9e165f;
    --colores-rosado-900: #851651;
    --colores-rosé-100: #ffe4e8;
    --colores-rosé-200: #fecdd6;
    --colores-rosé-25: #fff5f6;
    --colores-rosé-300: #fea3b4;
    --colores-rosé-400: #fd6f8e;
    --colores-rosé-50: #fff1f3;
    --colores-rosé-500: #f63d68;
    --colores-rosé-600: #e31b54;
    --colores-rosé-700: #c01048;
    --colores-rosé-800: #a11043;
    --colores-rosé-900: #89123e;
    --colores-verde-100: #dcffd5;
    --colores-verde-200: #b8fdab;
    --colores-verde-25: #f7fff5;
    --colores-verde-300: #8afe73;
    --colores-verde-400: #33f90b;
    --colores-verde-50: #f0ffed;
    --colores-verde-500: #40f31c;
    --colores-verde-600: #36e214;
    --colores-verde-700: #29c20a;
    --colores-verde-800: #1f9108;
    --colores-verde-900: #116600;

    
    /* number */
    --radius-none: 0.125rem;
    --radius-sm: 0.5rem;
    --radius-md: 0.75rem;
    --radius-lg: 1.125rem;
    --radius-xl: 1.5rem;
    --radius-full: 62.4375rem;
    --spacing-none: 0rem;
    --spacing-4: 0.25rem;
    --spacing-8: 0.5rem;
    --spacing-12: 0.75rem;
    --spacing-18: 1.125rem;
    --spacing-24: 1.5rem;
    --spacing-36: 2.25rem;
    --spacing-48: 3rem;
    --spacing-60: 3.75rem;
    --spacing-72: 4.5rem;
    --spacing-84: 5.25rem;
    --spacing-96: 6rem;
    --typo-height-xs: 1rem;
    --typo-height-base: 1.25rem;
    --typo-height-sm: 1.25rem;
    --typo-height-lg: 1.375rem;
    --typo-height-h3: 1.5rem;
    --typo-height-h2: 1.875rem;
    --typo-height-h1: 2.25rem;
    --typo-letter-spacing-base: 0rem;
    --typo-letter-spacing-h1: 0rem;
    --typo-letter-spacing-h2: 0rem;
    --typo-letter-spacing-h3: 0rem;
    --typo-letter-spacing-lg: 0rem;
    --typo-letter-spacing-sm: 0rem;
    --typo-letter-spacing-xs: 0rem;
    --typo-size-xs: 0.75rem;
    --typo-size-sm: 0.875rem;
    --typo-size-base: 1rem;
    --typo-size-lg: 1.125rem;
    --typo-size-h3: 1.25rem;
    --typo-size-h2: 1.5rem;
    --typo-size-h1: 1.75rem;
    /* string */
    --typo-font-family: Figtree;
    --typo-weight-bold: semibold;
    --typo-weight-medium: medium;
    --typo-weight-regular: regular;

    /* number */
    --radius-none: 0.125rem;
    --radius-sm: 0.5rem;
    --radius-md: 0.75rem;
    --radius-lg: 1.125rem;
    --radius-xl: 1.5rem;
    --radius-full: 62.4375rem;
    --spacing-none: 0rem;
    --spacing-4: 0.25rem;
    --spacing-8: 0.5rem;
    --spacing-12: 0.75rem;
    --spacing-18: 1.125rem;
    --spacing-24: 1.5rem;
    --spacing-36: 2.25rem;
    --spacing-48: 3rem;
    --spacing-60: 3.75rem;
    --spacing-72: 4.5rem;
    --spacing-84: 5.25rem;
    --spacing-96: 6rem;
    --typo-height-xs: 1rem;
    --typo-height-base: 1.25rem;
    --typo-height-sm: 1.25rem;
    --typo-height-lg: 1.375rem;
    --typo-height-h3: 1.5rem;
    --typo-height-h2: 1.875rem;
    --typo-height-h1: 2.25rem;
    --typo-letter-spacing-base: 0rem;
    --typo-letter-spacing-h1: 0rem;
    --typo-letter-spacing-h2: 0rem;
    --typo-letter-spacing-h3: 0rem;
    --typo-letter-spacing-lg: 0rem;
    --typo-letter-spacing-sm: 0rem;
    --typo-letter-spacing-xs: 0rem;
    --typo-size-xs: 0.75rem;
    --typo-size-sm: 0.875rem;
    --typo-size-base: 1rem;
    --typo-size-lg: 1.125rem;
    --typo-size-h3: 1.25rem;
    --typo-size-h2: 1.5rem;
    --typo-size-h1: 1.75rem;
    /* string */
    --typo-font-family: Figtree;
    --typo-weight-bold: semibold;
    --typo-weight-medium: medium;
    --typo-weight-regular: regular;
  }